@import "tailwindcss";
@import "react-toastify/dist/ReactToastify.css";

@theme {
  --color-primary: #5f6fff;
  --grid-template-columns-auto: repeat(auto-fill, minmax(200px, 1fr));
}

::-webkit-scrollbar {
  @apply hidden;
}

.active hr {
  @apply block;
}

@media (max-width: 740px) {
  .active p {
    @apply text-white bg-primary;
  }
}
