@import "tailwindcss";

@theme {
  --color-primary: #5f6fff;
  --grid-template-columns-auto: repeat(auto-fill, minmax(200px, 1fr));
}

/* áº¨n scrollbar */
::-webkit-scrollbar {
  @apply hidden;
}

/* Style cho nav link active */
.active hr {
  @apply block;
}

/* Responsive cho mobile menu */
@media (max-width: 740px) {
  .active p {
    @apply text-white bg-primary;
  }
}
